<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchTodo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node/Angular - Driver Review App - Waitr</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="js/core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">
    <div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <h1>Total Driver count <span class="label label-info">{{ drivers.length }}</span></h1>
        </div>

        <!-- TODO LIST -->
        <div id="todo-list" class="row">
            <div class="col-sm-4">

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div ng-repeat="driver in drivers">
			<button ng-click="getDelivery(driver.driverId)">{{ driver.name}}</button>
                </div>

            </div>
		 <div id="delivery-list" class="col-sm-4">
	
			<div ng-repeat="delivery in deliveries">
			<label>
				<a ng-click="getReview(delivery.driverId,delivery.deliveryId)">Delivery #:{{delivery.deliveryId}} Promised Time:{{ delivery.promiseTime  }}</a>
			</label>
			</div>

		</div>
	<div class="col-sm-4" ng-show="showReview">
			<div >	
				Customer review:
				<label>
				{{ review.rating }} / 5  - {{ review.description }}
				</label>
			</div>
	
	</div>

        </div>




        <!-- FORM TO CREATE TODOS -->

    </div>

</body>
</html>
